p Hi #{_vars.initiator.firstName}
p 
  span Your procurement request for
  strong  #{title} 
  span has been
  strong  REJECTED 
p Reject reason is:
p #{rejectReason}
p Reviewed by #{reviewedBy.firstName} #{reviewedBy.lastName} - #{reviewedBy.email}